body{
    background-color: aqua;
    padding:100px ;
}
h1{
    color: palevioletred;
    padding: 30px;
}
li{
    float: left;
    list-style:none;
}

 li a {
    text-decoration: none;
     color: rgb(241, 178, 178);
     display: block;
    text-align: center;
    padding: 14px 16px; 
    background-color: black;
}
  li a:hover{
    background-color: white;
}
#foto{
    height: 100px;
    width: 500px;
}
.articulo{
    float: left;
    width: 40%;
    padding: 15px;
}

